


body {
  background-color: pink; /*adding a background color to all files*/
  
  
}
.navbar-brand {
  /*adding some style to the navbar especially the name section*/
  background-color: pink;
  padding: 20px;
  font-weight: 150;
}
.HomePage {
  /*centering all the elements of the homw page*/
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
 
}
/*adding styling to home page title*/
.HomePage h1 {
  font-size: 50px;
  text-decoration: underline;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  font-weight: 50px;
  padding: 10px;
 
}
.HomePage a{
  background-color: pink;
  margin-bottom: 20px;
  align-items: center;
}
#Introduction {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  border: 10px solid gray;
}
.HomePage p {
  font-family: 'Times New Roman', Times, serif;
  padding: 25px;
  font-size: 40px;
}

/* adding styling to aboutme page */
.footer-margin {
  background-color: gainsboro;
  border: 10px solid darkgray;
  margin-bottom: 0%;
}

.center {
  font-style: oblique;
}
.container h1 {
  font-style: oblique;
  text-decoration: underline;
  text-decoration: underline;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h4 {
  font-style: oblique;
  text-align: center;

  text-decoration: underline;
  font-size-adjust: 500px;
}
p {
  font-weight: 600px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 20px;
}
.github-linkedin{
  height: 3%;
  width: 3%;
}
.col-4{
  margin-bottom: 10px;
}
.col-6 h3{
  text-decoration: underline;
  
}
.col-6 p{
  background-color: lightgrey;
}