body {
  background-color: pink; /*adding a background color to all files*/
}
.navbar-brand {
  /*adding some style to the navbar especially the name section*/
  background-color: pink;
  padding: 20px;
  font-weight: 150;
}
.HomePage {
  /*centering all the elements of the homw page*/
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
/*adding styling to home page title*/
.HomePage h1 {
  font-size: 50px;
  text-decoration: underline;
  font-family: "Times New Roman", Times, serif;
  color: black;
  font-weight: 50px;
  padding: 10px;
}
.HomePage a {
  background-color: pink;
  margin-bottom: 20px;
  align-items: center;
}
#introduction {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  border: 10px solid gray;
}
.HomePage p {
  font-family: "Times New Roman", Times, serif;
  padding: 25px;
  font-size: 40px;
}
.btnBtn {
  border: solid;
  border-radius: 5px;
  background-color:gray;
  color: aliceblue;
  padding: 10px;
}

.center {
  font-style: oblique;
}
.container h1 {
  font-style: oblique;
  text-decoration: underline;
  text-decoration: underline;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h4 {
  font-style: oblique;
  text-align: center;

  text-decoration: underline;
  font-size-adjust: 500px;
}
p {
  font-weight: 600px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 20px;
}
.github-linkedin {
  height: 3%;
  width: 3%;
}
.col-6 {
  background-color: lightgray;
}

.col-6 p {
  background-color: pink;
  width: 100%;
  border-radius: 15px;
  color: black;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  margin-top: 5px;
}
.col-6 img {
  margin-top: 5px;
  margin-bottom: 10px;
  border: solid;
  border-color: whitesmoke;
  border-radius: 30px;
}
.linksTopages {
  border: solid;
  background-color: whitesmoke;
  border-color: gray;
  color: blue;
  border-radius: 50px;
  margin-left: 0%;
  margin-right: 30%;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  width: auto;
}
.githubLink {
  border: solid;
  background-color: whitesmoke;
  border-color: gray;
  border-radius: 50px;
  width: auto;
  margin-left: 0%;
  margin-right: 30%;
  margin-top: 5px;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }
  .githubLink,
  .linksTopages {
    width: 100%;
    border-radius: 30px;
  }

  .col-6 img {
    width: auto;
    height: auto;
  }
  #introduction {
    width: 100%;
  }
  .contactField {
    width: 40%;
    margin-left: 40px;
    margin-right: 40px;
  }
  ul {
    width: 100%;
  }
  #myPicture {
    width: auto;
  }
}
.reachMe,
.qReachme,
.phoneReach,
p {
  text-align: center;
}
.contactField{
  background-color: pink;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.form-control {
  background-color: lightgray;
}
ul {
  display: inherit;
  text-align: right;
}
